# Service configuration
[server]
# mode: debug release test
APP_MODE = debug
APP_PORT = :8080

# Database configuration
[database]
DB = postgres
DB_HOST = localhost     // 使用docker-compose启动postgres时，使用gin_blog_postgres作为localhost
DB_PORT = 5432
DB_USER = postgres
DB_PASSWORD = password
DB_NAME = postgres

[redis]
REDIS_HOST = localhost // 使用docker-compose启动postgres时，使用gin_blog_redis作为localhost
REDIS_PORT = 6379
